.icons-card {
  display: inline-block;
  background-color: #e24146;
  padding: 4px 16px 12px 16px;
  border-radius: 8px;
  font-size: 2.4vw;
  margin: 24px;
  box-sizing: border-box;
}
.detail-card{
  text-align: center;
  color: white;
  padding: 12px;
  margin: 16px;
  background-image: linear-gradient(to top, rgba(35, 35 , 50,0), rgba(20 , 20, 20,1));
  border-radius: 12px;
  box-sizing: border-box;
}
.detail-card:hover{
  background-image: linear-gradient(to top, rgba(35, 35 , 50,0), rgba(180 , 80, 80,0.9));
}
.detail-p{
  color: #a8a2a1;
  font-family: "Comic Sans MS";
  padding: 12px;
}
.detail-title {
  font-family: "Segoe Print";
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
 .icons-card{
   font-size: 24px;
 }
 .detail-p {
   padding: 4px;
 }
 .detail-card{
    padding: 4px;
    margin: 4px;
  }
  .detail-container{
    width: 100%;
  }
  
}

.detail-container-title {
  margin-top: 2vw;
  font-weight: bold;
  color: white;
  font-family: 'Comic Sans MS';
  text-align: center;
}

.colored-hr {
  color: #e24146;
}

.detail-container{
  width: 80%;
  margin: auto;
}

 .rarity{
   text-decoration: none;
 }